.title-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for-all-heading {
  font-size: 5rem; /* adjust the font size as desired */
}

.content-wrapper {
  position: relative;
  min-height: 125vh; /* Increase the min-height to make more space for the cards */
}

.title-container {
  height: 100vh; /* Set the height of the title container to fill the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-section {
  margin-top: 1vh; /* Add a margin to move the cards below the title */
}

.card-container {
  transition: opacity 0.3s ease-out;
}

.rounded-image {
  border-radius: 15px; /* Adjust this value to control the roundness of the corners */
}